<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}  Home</title>
    {% endblock %}
</head>
<body>
<header>
<b>
   Geethika Lingamaneni : 1001743466
</b>
</header>
<br>
To run Queries with Restriction:<br>
<p>
   <form action="/displaydata" method="get">
     Magnitude Range from<input type="text" name="rangefrom1" maxlength="200" width="60"> <br/>
      Magnitude Range To<input type="text" name="rangeto1" maxlength="200" width="60"><br/>
     Number of queries to run:<input type="text" name="num1" maxlength="200" width="60"></br>
     <input type="submit" value="Time to run queries without Cache"><br/><br/>
  </form>
  </p>
<p>
   <form action="/multiplerun" method="get">
     Magnitude Range from<input type="text" name="rangefrom" maxlength="200" width="60"> <br/>
      Magnitude Range To<input type="text" name="rangeto" maxlength="200" width="60"><br/>
     Number of queries to run:<input type="text" name="num" maxlength="200" width="60"></br>
     <input type="submit" value="Time to run queries with Cache"><br/><br/>
  </form>
  </p><hr>

  To run Queries without Restriction: (Delete and Select Operation) <br>
  <p>
   <form action="/ddata" method="get">
     Number of queries to run:<input type="text" name="num2" maxlength="200" width="60"></br>
     <input type="submit" value="Time to Run queries without Cache"><br/><br/>
  </form>
  </p>
  <p>
   <form action="/mdata" method="get">
     Number of queries to run:<input type="text" name="num3" maxlength="200" width="60"></br>
     <input type="submit" value="Time to Run queries with Cache"><br/><br/>
  </form>
  </p>






</body>
</html>
