
gunicorn==19.7.1
prometheus-client
livereload
Flask-WTF
flask-uploads
tinydb
flask-bootstrap
flask-nav
sqlalchemy
pymssql
redis
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
