<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}  Home</title>
    {% endblock %}
</head>
<body style="height: 100vh;width : 100%;">
<header>
<b>
    Geethika Lingamaneni <br>
    1001743466 <br>
</b>
</header>

<p style="height: 100vh;width : 100%;">
 Data analysis done successfully.

 {% block content %}

<img src="data:image/png;base64, {{ plot_url }}" ; style="height: 100%; width:75% " > 

{% endblock %}
</p>

</body>
</html>
