
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} Results </title>
    {% endblock %}
</head>
<body>
<header>

<h1>Geethika Lingamaneni: 1001743466</h1>

</header>
<p>
Time to run queries: {{t}} <br>

{% block content %}
{% for ci in r %}
 
<p><b>{{ci["name"]}}---{{ci["population"]}}</b></p><br>

{% endfor %}
{% for mi in l %}
  
<p><b>Count: {{mi}}</b></p><br>

{% endfor %}
{% endblock %}

</body>
</html>
